.Austria {
  background-image: url('https://www.biathlon.com.ua/en/uploads/0/9.gif');
}

.Ukraine {
  background-image: url('https://www.biathlon.com.ua/en/uploads/0/53.gif');
}

.Norway {
  background-image: url('https://www.biathlon.com.ua/en/uploads/0/41.gif');
}

.Belarus {
  background-image: url('https://www.biathlon.com.ua/en/uploads/0/12.gif');
}

.Slovenia {
  background-image: url('https://www.biathlon.com.ua/en/uploads/0/60.gif');
}

.Russia {
  background-image: url('https://www.biathlon.com.ua/en/uploads/0/48.gif');
}

.Germany {
  background-image: url('https://www.biathlon.com.ua/en/uploads/0/20.gif');
}

.Sweden {
  background-image: url('https://www.biathlon.com.ua/en/uploads/0/50.gif');
}
